/* Daan Uittenhout
11057777
CSS for index.html */
.row{
  border:1px solid black;

}

body {
  text-align: center;
  font: 10px sans-serif;
}

#scrollable {
  height: 100px;
  overflow: hidden;
  border: solid 1px white;
}

#scrollable .inner {
  height: 1000px;
}

#scrollable .content {
  height: 94px;
  margin: 2px 0;
  background-color: steelblue;
  color: white;
}

#map {
  background: white
}
.textgauge{
  text-align: left;
  font: 15px sans-serif;
  font-weight: bold;
}
.yaxis path, .yaxis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.xaxis path, .xaxis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


#header {
  background: white
}

#checkboxes {
  background: white;
}
ol {
    text-align: left;
    font: 15px sans-serif;
    font-weight: bold;
}

th {
  text-align: center;
}
.d3-tip {
  text-align: left;
  font: 15px sans-serif;
  font-weight: bold;
}

table, table td {
  font-weight: bold;
  background-color: #fff;
  border-collapse: separate;
  border-spacing: 0px;
  margin-bottom: 0rem;
  border: 1px solid #b8202a;
}
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}

#slider {
  background: white
}

.bg-1 {
  background-color: #1abc9c;
  /* Green */
  color: #ffffff;
}


.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

#flower {
  background: white;
}

#bar {
  background: white
}

.xAxis {
  stroke-width: 1px;
}

/* Legend Font Style */
