div.tooltip {
 	position: absolute;
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

body {
  text-align: center;
  font: 15px sans-serif;
}


#map {
  background: red
}
#header {
  background: blue
}
#legend {
  background: orange
}
#checkbox {
  background: green
}
#slider {
  background: brown
}
#gobutton {
  background: darkblue
}
#resetbutton {
  background: red
}
#flower{
  background: yellow
}
#bar {
  background: purple
}
/* Legend Font Style */
